<header class='header-wrapper'>
  <div class='heading-contents'>
    <%= link_to image_tag("spochat_logo.png", class:"spochat-logo"), "/" %>
    <div class='room-menu'>
      <ul class='room-lists'>
        <li><%= link_to "ルーム作成", '#', class: "room-create" %></li>
        <li class="room-name"><%="ルーム名"%></li>
        <li><%= link_to "ルーム削除", '#', method: :delete, class: "room-delete" %></li>
      </ul>
   </div>
  </div>

  
  <div class='nav'>
    <ul class='user-lists'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, edit_user_path(current_user), class: "user-name" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>