<header class='header-wrapper'>
  <div class='heading-contents'>
    <%= link_to image_tag("spochat_logo.png", class:"spochat-logo"), "/" %>
    <div class='room-menu'>
      <div class='room-lists'>
        <%= link_to "ルーム作成", new_room_path, class: "room-create" %>
      </div>
   </div>
  </div>

  <div class="navbar">
    <ul class="nav-lists">
      <li class="list-title" id= "lists"><p>サッカーメディア</p></li>
    </ul>
    <ul class="show-lists hidden" id="pull-down">
      <li><%= link_to "Goal.com", "https://www.goal.com/jp", target: :_blank, rel: "noopener noreferrer", class:"media-link" %></li>
      <li><%= link_to "UEFA.com", "https://www.uefa.com/", target: :_blank, rel: "noopener noreferrer", class:"media-link" %></li>
      <li><%= link_to "サッカーキング", "https://www.soccer-king.jp/", target: :_blank, rel: "noopener noreferrer", class:"media-link" %></li>
      <li><%= link_to "スポーツナビ", "https://sports.yahoo.co.jp/", target: :_blank, rel: "noopener noreferrer", class:"media-link" %></li>
    </ul>
  </div>

  
  <div class='nav'>
    <ul class='user-lists'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, user_path(current_user), class: "user-name" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>